
.container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    
}

main {
    background-color: darkgoldenrod;
    width: 952px;
    height: 746px;
}

iframe {
    width: 952px;
    height: 537px;
}

aside {
    background-color: darkslategrey;
}

.container-action {
    display: flex;
    align-items: center;
}

.content-logo-button {
    display: flex;
    align-items: center;
    gap: 2rem;
   
}

button {
    width: 159px;
    height: 40px;
    top: 1px;
    left: 202px;
    border: none;
    border-radius: 2px;
    color: #fff;
    background-color: #CC0000;
}

ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

